.header {
  position: relative;
  /* overflow: hidden; */
  background-image: url("../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 120px;
}
.row2 {
  margin-right: 120px;
}
.top-bar {
  display: flex;
  height: 6vh;
}

.left-section {
  width: 40%;
}

.center-section {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 40%;
}

.header_information {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  color: #9ca3af;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header_information ul {
  display: flex;
  gap: 80px;
}

.header_information li {
  display: flex;
  align-items: center;
}

.header_information li img {
  margin-right: 8px;
}

.top_arrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.logo {
  width: 12rem;
  height: auto;
  margin-left: 120px;
}

.menu-area {
  position: absolute;
  bottom: 1rem;
  right: 17.25rem;
  display: flex;
  gap: 3rem;
}

.menu-area ul {
  list-style: none;
  display: inline-flex;
  gap: 3rem;
}

.menu-area li a {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-area li a:hover {
  color: #000000;
}
