.header {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.top-bar {
  display: flex;
  height: 6vh;
}

.left-section {
  width: 40%;
}

.center-section {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 40%;
}

.header_information {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px; /* Adjust padding as needed */
  color: #9ca3af; /* Adjust text color as needed */
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header_information ul {
  display: flex;
  gap: 20px; /* Adjust gap as needed */
}

.header_information li {
  display: flex;
  align-items: center;
}

.header_information li img {
  margin-right: 8px; /* Adjust margin as needed */
}

.top_arrow {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.logo {
  width: 12rem; /* Adjust width as needed */
  height: auto;
  margin-left: 1.5rem; /* Adjust margin as needed */
}

.menu-area {
  position: absolute;
  bottom: 1rem; /* Adjust bottom spacing as needed */
  right: 3.75rem; /* Adjust right spacing as needed */
  display: flex;
  gap: 1rem; /* Adjust gap as needed */
}

.menu-area ul {
  list-style: none;
  display: flex;
  gap: 1rem; /* Adjust gap as needed */
}

.menu-area li a {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem; /* Adjust font size as needed */
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-area li a:hover {
  color: #000000; /* Adjust hover color as needed */
}
