/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header styles */
.header {
  @apply relative overflow-hidden;
  /* Adjust background image as needed */
  background-image: url("../assets/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Adjust background size as needed */
  background-position: top;
}

/* Top bar */
.top-bar {
  @apply flex;
  height: 6vh; /* 10% of viewport height */
}

/* Left section of top bar */
.left-section {
  @apply w-2/5; /* 40% of parent width */
}

/* Center section of top bar */
.center-section {
  @apply w-3/5 flex items-center justify-center; /* 60% of parent width */
}

/* Right section of top bar */
.right-section {
  @apply w-2/5; /* 40% of parent width */
}

/* Address information */
.header_information {
  @apply absolute top-0 right-0 p-3.5 text-gray-500 bg-white w-3/5; /* Change text color to lighter */
  font-family: "Roboto", sans-serif;
}

/* Increase gap between ul and li */
.header_information ul {
  @apply flex space-x-20; /* Adjust spacing as needed */
}

/* Add spacing between img and text */
.header_information li {
  @apply flex items-center; /* Align items center */
}

.header_information li img {
  @apply mr-2; /* Add margin-right */
}
.top_arrow {
  @apply flex justify-end w-2/5;
}
/* Logo */
.logo {
  @apply w-48 h-48 ml-28 pl-12 mt-0;
}

/* Menu */
.menu-area {
  @apply absolute bottom-4 right-60 flex;
  @apply h-auto px-4 gap-10; /* Adjust height and padding as needed */
}

.menu-area ul {
  @apply list-none flex space-x-4;
}

.menu-area li a {
  @apply text-white text-lg font-bold hover:text-black;
}

.menu-area-main {
  @apply gap-8;
}
.container {
  @apply h-16;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .header_information {
    @apply flex-wrap;
  }
  .menu-area {
    @apply flex-col;
  }
  .menu-area li {
    @apply flex justify-center;
  }
}
